.rectangle{
    width: 1468px;
    height: 70px;
    background-color: #00B074;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.rec-select{
    display: flex;
    justify-content: space-between;
    width: 188px;
    align-items: center;
}
.selct{
    width: 94px ;
    height: 22px;
    background-color: unset ;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-right: 57px;
}
.selct-date{
    width: 67px;
    height: 22px;
    background-color: unset ;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}
.lists{
    width: 1468px;
    height: 888px;
    margin-top: 40px;
    border-radius: 12px;
}
.showing{
    width: 1468px;
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}
.btn-num{
    width: 328px;
    height: 61px;
    border-radius: 12px;
    background-color: #FFFFFF;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 51px;
    height: 61px;
    border: none;
    background-color: white;
}
.btn:hover{
    width: 51px;
    height: 61px;
    border: none;
    background-color: #46425526;
}