.page-order{
    width: 1468px;
    height: 71px;
    background-color:  #F3F2F7 ;
    display: flex;
    justify-content: space-between;
}
.data{
    width: 398px;
    height: 68px; 
    display: flex;
    justify-content: space-between;
}
.body{
    width: 100%;
    margin: 0 auto;
    background-color: #F3F2F7;
}