.select{
    width: 168px;
    height: 68px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.selct-img{
    width: 154px;
    height: 24px;
    display: flex;
}
.calendar{
    width: 24px;
    height: 24px;
}
.selects{
    width: 122px;
    border: none;
}